{{ define "main" }}
<div class="flex justify-between">
    <div>
        <h1>{{ .Title }} - {{ now.Format "January 2, 2006" }}</h1>
    </div>
{{ if and .File .Site.Params.BookRepo .Site.Params.BookEditPath }}
    <div>
        <a href="{{ .Site.Params.BookRepo }}/{{ .Site.Params.BookEditPath }}/{{ replace .File.Path "\\" "/" }}" target="_blank">
        <img src="{{ "svg/edit.svg" | relURL }}" class="book-icon" alt="Edit" />
        <span>{{ i18n "Edit this page" }}</span>
        </a>
    </div>
{{ end }}
</div>
<article class="markdown">
  {{/* Create permalink for each header */}}
  {{- with .Content -}}
      {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> 🔗&#xFE0E;</a> ${3}` | safeHTML }}
  {{- end -}}
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
