/* You can add custom styles here. */

// @import "plugins/numbered";

.book-toc {
    font-size: 1rem;
}

// Permalink next to each header visible on hover only
.hanchor { 
    font-size: 75%; 
    visibility: hidden; 
    color: silver;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a { 
    visibility: visible;
}
