name: github-pages

on:
  push:
    branches:
    - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Get Current Month and Day
      id: month-day
      run: echo "::set-output name=d::$(date '+%m-%d')"

    - name: Cache Hugo Assets
      id:   cache-hugo-assets
      uses: actions/cache@v1
      with:
        path: /tmp/hugo_cache
        key:  hugo-${{ steps.month-day.outputs.d }}
        restore-keys: |
          hugo-${{ steps.month-day.outputs.d }}
          hugo-

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.90.1'
        extended:     true

    - name: Build Hugo Testing
      env:
        TESTDIR:          ${{ runner.temp }}/publicTesting
        HUGO_ENVIRONMENT: "testing"
        HUGO_RELATIVEURLS: true
        HUGO_CACHEDIR:     "/tmp/hugo_cache"
      run: hugo -d $TESTDIR

    - name: Test Broken Links
      env:
        TMPDIR:  ${{ runner.temp }}
        TESTDIR: ${{ runner.temp }}/publicTesting
      run: bash '.github/scripts/htmltest.sh'

    - name: Log files set to draft
      run: bash '.github/scripts/check_drafts.sh'

    - name: Stats
      env:
        MATOMO_API:     ${{ secrets.MATOMO_API }}
        MATOMO_BASEURL: ${{ secrets.MATOMO_BASEURL }}
        BUILD: "SOURCE"
      run: bash '.github/scripts/download-assets.sh' 'assets'

    - name: Build
      env:
        HUGO_CACHEDIR: "/tmp/hugo_cache"
      run: hugo --minify

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        deploy_key:     ${{ secrets.ACTIONS_DEPLOY_KEY }}
        publish_dir:    ./public
        publish_branch: gh-pages
        force_orphan:   true
